// CSS Var NOT Sass -- Optional, for Dark / Light Theme LP 

:root {
    --limegreen: hsl(163, 72%, 41%);
    --lightpurple: hsl(243, 78%, 82%);
    --hotpink: hsl(338, 100%, 69%);
    --offsetblue: hsl(240, 100%, 73%);
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);

    --vrypaleblue: hsl(225, 100%, 98%);
    --desturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
    --offwhite: hsl(225, 50%, 98%);


}
