// CSS Var NOT Sass -- Optional, for Dark / Light Theme LP 

:root {
    --limegreen: hsl(163, 72%, 41%);
    --lightpurple: hsl(243, 78%, 82%);
    --hotpink: hsl(338, 100%, 69%);
    --offsetblue: hsl(240, 100%, 73%);
}
